#dashboard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.widget {
  margin: 20px;
  float: left;
  width: $widget-width;
  height: $widget-height;
  border: 1px solid gray;
  border-radius: 5px;
}
